<nav class="navbar navbar-light bg-white">
    <a class="navbar-brand" href="/">
        <div class="div-img">
            <i class="fa fa-picture-o" id="img" aria-hidden="true"></i>
        </div>
        <span class="app-name">Listel App</span>
    </a>
    <a href="/novo">
        <button type="button" class="btn btn-primary">Adicionar</button>
    </a>
</nav>