<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs') %>
<body>

<%- include('./partials/navbar.ejs') %>

<nav class="navbar navbar-light bg-white" id="footer-fixed">
    <span>ListelApp <i class="fa fa-copyright" aria-hidden="true"></i> 2021 | IELUSC - Tecnólogo em Sistemas para Internet by Lucas Leoni</span>
</nav>

<%- include('./partials/footer.ejs') %>
</body>
</html>